<div id="content">
  <header>
    <h3>Sign In</h3>
    <h3>or</h3>
    <a href="/users/new">Create An Account</a>
  </header>
  
  <section>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" 
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
      <label for="user_email">Email:</label>
      <input type="text" name="user[email]" id="user_email">
      <br>
      <label for="user_password">Password:</label>
      <input type="password" name="user[password]" id="user_password">
      <br>
      <input type="submit" value="Sign In">
    </form>
  </section>
  
</div>