
<div class="page_type">Help</div>
<div id="instructions_outer">
  <div>
    <h3>Save in Your Desktop Browser</h3>
      <p>
        Drag the bookmarklet below to your Bookmarks Bar. Then simply click it
        when you're on a web page (news article, blog post, etc.) you want to
        save to Instapaper.
      </p>
      <a class="btn btn-danger btn-lg" href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://gist.github.com/kkslider/3d556955672e8e51d30f/raw/04ab9473d048780579b373eb10877cb58ca45aae/blet111.js';})();">Read Later</a>
      <p>
        When you click this bookmarklet, a "Saved!" message will briefly appear,
        meaning that the item is now waiting for you in your Instapaper unread
        queue.
      </p>
  </div>
</div>