<img src="assets/newspaper.jpg"></img>
<h3 class="side_title">Your Articles</h3>

  <div class="side_row"><span class="glyphicon glyphicon-list-alt"></span><a href="#/u" class="side_item">Unread</a></div>
  <div class="side_row"><span class="glyphicon glyphicon-heart"></span><a href="#/liked" class="side_item">Liked</a></div>
  <div class="side_row"><span class="glyphicon glyphicon-inbox"></span><a href="#/archive" class="side_item">Archive</a></div>

<br>
<h3 class="side_title">Discover</h3>

  <div class="side_item side_row"><span class="glyphicon glyphicon-bookmark"></span>How to Save</div>
  <div class="side_item side_row"><%= SavedPages.current_user %></div>
