<h3>Your Articles</h3>
<ul>
  <li><a href="#/u">Unread</a></li>
  <li><a href="#/liked">Liked</a></li>
  <li><a href="#/archive">Archive</a></li>
</ul>
<br>
<h3>Discover</h3>
<ul>
  <li>How to Save</li>
  <li><%= SavedPages.current_user %></li>
</ul>