
<div class="row-fluid">
  <div class="col-md-12">
    <img id="sidebar_img" src="assets/newspaper.jpg"></img>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12" id="side_column_main">
   
      <h3 class="side_title">Your Articles</h3>
      <a href="#/u" class="side_item"><div id="unread_link" class="side_row"><span class="glyphicon glyphicon-list-alt"></span>Unread</div></a>
      <a href="#/liked" class="side_item"><div id="liked_link" class="side_row"><span class="glyphicon glyphicon-heart"></span>Liked</div></a>
      <a href="#/archive" class="side_item"><div id="archive_link" class="side_row"><span class="glyphicon glyphicon-inbox"></span>Archive</div></a>

      <h3 class="side_title">Discover</h3>
      <div class="side_item side_row"><span class="glyphicon glyphicon-bookmark"></span>How to Save</div>
  
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12" id="side_column_nav">
    <a href="" class="side_item" id="logout"><div class="side_item side_row"><span class="glyphicon glyphicon-cog"></span><%= SavedPages.current_user %> - Log out</div></a>
  </div>
</div>
