<div class="page_type">Archive</div>
<% bookmarks.each(function(bookmark) { %>
  <div class="bookmark" data-bookmark-id="<%= bookmark.escape("id") %>">
    <span><%= bookmark.escape("title") %></span>
  </div>
<% }) %>
