<ul>
  <li><div><p>Unread</p></div></li>
  <% bookmarks.each(function(bookmark) { %>
  <li>
    <div class="bookmark" data-bookmark-id="<%= bookmark.escape("id") %>">
      <span><%= bookmark.escape("title") %></span>
    </div>
  </li>
  <% }) %>
  <li><%= SavedPages.current_user %></li>
</ul>

<script>
$("#liked_link.side_row").hover(
  function() {
    $(this).addClass("makeRed");
  }, function() {
    $(this).removeClass("makeRed");
  }
);
</script>
