<div class="page_type">Unread</div>
<% bookmarks.each(function(bookmark) { %>
  <div class="bookmark" data-bookmark-id="<%= bookmark.escape("id") %>">
    <span><%= bookmark.escape("title") %></span>
  </div>
<% }) %>

<script>
$("#liked_link.side_row").hover(
  function() {
    $(this).addClass("makeRed");
  }, function() {
    $(this).removeClass("makeRed");
  }
);
</script>
