<ul>
  <li><p>Unread</p></li>
  <% bookmarks.each(function(bookmark) { %>
  <li>
    <div class="bookmark" data-bookmark-id="<%= bookmark.escape("id") %>">
      <p><%= bookmark.escape("title") %></p>
    </div>
  </li>
  <% }) %>
</ul>