<div id="content">
  <header>
    <h3>Create An Account</h3>
    <h3>or</h3>
    <a href="<%= new_session_url %>">Sign In</a>
  </header>
  
  <section>
    <form action="<%= users_url %>" method="post">
      <input type="hidden" 
             name="authenticity_token"
            value="<%= form_authenticity_token %>">
      <label for="user_email">Email:</label>
      <input type="text" name="user[email]" id="user_email">
      <br>
      <label for="user_password">Password:</label>
      <input type="password" name="user[password]" id="user_password">
      <br>
      <input type="submit" value="Create Account">
    </form>
  </section>
</div>