<header>
  <h1>Briskpaper</h1>
  <nav>
    <a href="/users/new">Create Account</a>
    <a href="#">Sign In</a>
  </nav>
</header>

<section>
  <h3>A simple tool for saving web pages 
      to read later on any computer or phone.</h3>
  <a href="/users/new">Create an Account</a>
</section>

<section>
  <h2>How it Works</h3>
  <div>
    <h3>Add the Bookmarklet</h3>
    <p>Install the Instapaper bookmarklet by dragging it to your bookmark bar.</p>
  </div>
  
  <div>
    <h3>Save Articles for Later</h3>
    <p>When you find something you want to read, but you don't have the time, click the bookmarklet.</p>
  </div>
  
  <div>
    <h3>Read Anywhere</h3>
    <p>Return to the article later by signing in to your account.</p>
  </div>
</section>