<!DOCTYPE html>
<html>
<head>
  <title>SavedPages</title>
  <%= stylesheet_link_tag    "bookmarks", :media => "all" %>
  <%= javascript_include_tag "bookmarks" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  <%= current_user.email %>
  <% end %>
  
  <div id="sidebar">
    <h3>Your Articles</h3>
    <ul>
      <li><a href="#/u">Unread</a></li>
      <li><a href="#/liked">Liked</a></li>
      <li><a href="#/archive">Archive</a></li>
    </ul>
    <br>
    <h3>Discover</h3>
    <ul>
      <li>How to Save</li>
    </ul>
  </div>
  <div id="content">
  </div>

</body>
</html>
